#main {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  position: absolute;
  top: 51.6px;
  bottom: 0;
  right: 0;
  left: 0;
}
#main > .center-vertical {
  margin: auto;
}
.card:hover {
  background-color: #ccc;
  color: black;
}
